%div
  %a.pull-right.btn.btn-primary{'href' => "?switch_locale=true"}= t('change_language')

  %h1 Angular + Rails i18n Demo
  %h4= t('.description')

  %hr

  %h4= t('.using')
  %ul
    %li Rails 4.2
    %li Bower
    %li Angular 1.3.2
    %li Angular Translate 2.5.2


  %hr

  %h4= t('.thanks_to')
  %ul
    %li
      %a{href: 'https://github.com/bikezilla'} Vladimir Konusliev (Github: bikezilla)
    %li
      %a{href: 'http://codetunes.com/2014/5-tips-on-how-to-use-angularjs-with-rails-that-changed-how-we-work/'} Codetunes.com
    %li
      %a{href: 'https://rogr.io/'} Rogr.io
