%div{'ng-controller' => 'TableCtrl'}

  %h1 Population of european countries

  %table.table.table-bordered
    %thead
      %tr
        %th Country
        %th Country Code
        %th Population Density
    %tbody
      %tr
        %td Spain
        %td ES
        %td 11000